@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right " }))
    {
    @Html.AntiForgeryToken()

<ul class="navbar-nav mx-auto ">
@*	<li>
		@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link mx-2" })
	</li>*@
	<li class="nav-item dropdown">
		<a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			@User.Identity.GetUserName()
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
			<li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="bi bi-box-arrow-in-right"></i> Log off</a></li>
		 @if (this.User.IsInRole("CanManageMovies")) 
		 {
			<li> <a href="/Movies" class="dropdown-item"><i class="bi bi-gear-wide-connected"></i> Managment</a></li>
		 }
		 
			

		</ul>
	</li>
	
</ul>
    }
}
else
{
    <ul class="navbar-nav mx-auto ">
        <li class="">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class= "nav-link mx-2" })</li>
        <li class="">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link mx-2"  })</li>
    </ul>
}
